body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif sans-serif;
}
.link{
    overflow: hidden;
    z-index: 5;
    position: relative;
    padding: 10px 45px;
    font-size: 25px;
    color: rgb(61, 61, 255);
    border: 2px rgb(61, 61, 255) solid;
    text-decoration: none;
}
.grey{
    position: absolute;
    border-radius: 20px;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.541);
}
.link:hover .grey{
    transition: .7s;
    left: -100%;
}
.rides{
    z-index: 0;
}
.blue{
    position: absolute;
    right: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(61, 61, 255)  ;
}
.link:hover .blue{
    right: -100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.link:hover{
    transition: 2s;
    background-color:rgb(61, 61, 255)  ;
    color: black;
}