body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif sans-serif;
}
.button{
    transition: 0.2s;
    position: relative;
    color: #2175f3;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 4px;
    overflow: hidden;
    padding: 15px 30px;
}
.button_line{
    display: block;
    position: absolute;
}
.line--top{
    position: absolute ;
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2175f3);
}
.button:hover .line--top{
    transition: 1s;
    left: 100%;
    transition-delay: 0.25s;
}
.line--bottom{
    position: absolute ;
    bottom: 0;
    right:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2175f3);
}
.button:hover .line--bottom{
    transition: 1s;
    right: 100%; 
    transition-delay: 0.25s;
}
.line--left{
    position: absolute ;
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(0deg,transparent,#2175f3);
}
.button:hover .line--left{
    transition: 1s;
    bottom: 100%; 
    transition-delay: 0s;
}
.line--right{
    position: absolute ;
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#2175f3);
}
.button:hover .line--right{
    transition: 1s;
    top: 100%; 
    transition-delay: 0s;
}
.button:hover{
    text-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 10px #2175f3 , 0px 0px 40px #2175f3 , 0px 0px 80px #2175f3  ;
    background: #2175f3;
    color: white;
    transition-delay: .7s;
}